#title {
  margin:0;
  width:100%;
  padding:0;
  border:5px;
  border-color:#DBDBF5;
  background-color:#DBDBF5;
  position:relative;
  left:0;
  right:0;
  top:0;
  text-align:center;
}

body {
  background-image:url("WO.png");
  margin:0;
  padding:0;
}
    
h1 {
  font-family:'GlacialIndifferenceRegular';
  font-style:normal;
  font-size:2.5em;
  color:#1D1C82;
}

#content {
  margin:auto;
  width:40%;
  height:auto;
  border:5px;
  border-color:#DBDBF5;
  background-color:#DBDBF5;
  position:relative;
  top:130px;
  text-align:center;
}
