#title {
  margin:auto;
  width:25%;
  padding:30px;
  border:5px;
  border-color:#00007A;
  background-color:#00007A;
  position:relative;
  text-align:center;
}

body {
  background-image:url("WO.png");
}
    
h1 {
  font-family:'GlacialIndifferenceRegular';
  font-style:normal;
  font-size:2.5em;
  color:#C2C2FF;
}

#content {
  margin:auto;
  width:auto;
  height:auto;
  border:5px;
  border-color:#00007A;
  background-color:#00007A;
  position:relative;
  top:20px;
}
