#title {
  margin:0;
  width:100%;
  padding: 5px 0;
  border-color:#fffafa;
  background-color:#fffafa;
  position:relative;
  left:0;
  right:0;
  top:0;
  text-align: center;
}

body {
  background-image:url("WO.png");
  margin:0;
  padding:0;
}
    
h1 {
  font-family:'RalewayRegular';
  font-style:normal;
  font-size:2.5em;
  color:#010042;
}

#slidecontainer {
  margin:auto;
  width:100%;
  height:auto;
  border:5px;
  border-color:#fffafa;
  background-color:#fffafa;
  position:relative;
  top:100px;
  text-align:center;
  padding:10px;
}

iframe {
  border:5px;
  float:right;
}

#container {
  width:100%;
}
